// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    @include themify($themes) {
        color: themed('textColor');
        background-color: themed('backgroundColor-light');
    }
    width: 100%;
}